body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;/* ubuntu inter kanit */
}
*{
    box-sizing: border-box;
} 

.cust-form{
    color: white;
    border: 0.1em rgb(36, 126, 88) solid;
    border-radius: 0.5em;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    padding: 0 1vw;
    background-color: rgb(36, 126, 88);
    text-align:left;
    max-width: max(300px,55vw);
    margin: auto auto;
    margin-top:1.5em;
}
.cust-form ul{
    font-size: 0.85em;
    font-style: italic;
    display: none;
} 
.cust-form .helptext{
    font-size: 0.75em;
    font-style: italic;
}
.cust-form label{
    font-weight: 500;
    margin-right: 1.5em;
}
.cust-form input{
    background-color: rgb(36, 126, 88);
    border: none;
    border-bottom: solid 1px white;
}
.cust-form input:focus{
    outline: none;
    border: none;
    border-bottom: solid 2px rgb(0, 96, 64);
}
.c-div{
    max-width: max(300px,55vw);
    margin: auto auto;
}
.cust-p{
    position: relative;
    top:1.3em;
    font-style: italic;
}
.cust-btn{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
    padding: 0.6em 1.2em;
    color: rgb(36, 126, 88);
    font-weight: bold;
    background-color: white;
    border: solid 1px rgb(0, 130, 87);
    border-radius: 5px;
    
    outline: none;
}
.cust-btn:hover{
    background-color: rgb(71, 249, 175);
    color: black;
    border: solid 1px rgb(0, 130, 87);
}

/* ----------------------- */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #111;
}

.nav li p{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}
.nav li p:hover{
    color: rgb(71, 249, 175);
}
/* ---------for login page------ */
#farmer0{
    float: right;
    max-width: min(350px,94vw);
}
/* --------------media querries -----------*/
@media only screen and (max-width: 320px) {
    .content {
      padding: 0 6px;
    }
    .helptext{
        display: block;
    }
    .cust-form{
        padding-left: 5px;
    }
}