body{
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(30deg, rgb(24, 88, 62),rgb(160, 255, 216), rgb(255, 255, 255));
    font-family: sans-serif;/* ubuntu inter kanit */
}
*{
    box-sizing: border-box;
} 

.cust-form{
    color: white;
    border: 0.1em rgb(36, 126, 88) solid;
    border-radius: 0.5em;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    padding: 0 2vw;
    background-color: rgb(36, 126, 88);
    text-align:left;
    max-width: max(330px,45vw);
    margin: auto auto;
    margin-top:1.5em;
}
.cust-form ul{
    font-size: 0.85em;
    font-style: italic;
    display: none;
} 
.cust-form .helptext{
    font-size: 0.75em;
    font-style: italic;
}
.cust-form label{
    font-weight: 500;
    margin-right: 1.5em;
}
.cust-form input{
    background-color: rgb(36, 126, 88);
    border: none;
    border-bottom: solid 1px white;
}
.cust-form input:focus{
    outline: none;
    border: none;
    border-bottom: solid 2px white;
}
/* ---------------login form only--------------- */
.login-form{
    text-align: center;
    max-width: max(300px,31vw);
    padding: 2vh 0;
}
/* --------------login ends----------------- */
.c-div{
    max-width: max(300px,32vw);
    margin: auto auto;
}
.cust-p{
    position: relative;
    top:1.3em;
    font-style: italic;
}
.cust-btn{
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
    padding: 0.6em 1.2em;
    color: rgb(36, 126, 88);
    font-weight: bold;
    background-color: white;
    border: solid 1px rgb(0, 130, 87);
    border-radius: 5px;
    
    outline: none;
}
.cust-btn:hover{
    background-color: rgb(71, 249, 175);
    color: black;
    border: solid 1px rgb(0, 130, 87);
}

/* ------------nav----------- */
.nav {
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 10;
}

.nav .fright {
    float: right;
}

.nav .fleft{
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: #111;
}

.nav li p{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}
.nav li p:hover{
    color: rgb(71, 249, 175);
}
/* --------sidebar------------ */
.sidebar_icon{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
    color: white;
    z-index: 3000;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.sidebar{
    position: fixed;
    top: 25px;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 1500;
    width: 80vw;
    height: 100vh;
    display: none;
}
.sidebar li a {
    display: block;
    color: white;
    text-align: left;
    margin-left: 12px;
    padding: 10px 12px;
    text-decoration: none;
}
.sidebar li a:hover {
    background-color: #111;
}

.sidebar li p{
    display: block;
    color: white;
    text-align: left;
    margin-left: 12px;
    padding: 10px 12px;
    text-decoration: none;
    margin: 0;
}
/* ---------for login page------ */
#farmer0{
    float: right;
    max-width: min(350px,94vw);
}
/* --------------media querries -----------*/

@media only screen and (max-width: 630px) {
    .nav{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .sidebar_icon{
        display: block;
    }
}
@media only screen and (max-width: 320px) {
    .content {
      padding: 0 6px;
    }
    .helptext{
        display: block;
    }
    .cust-form{
        padding-left: 5px;
    }
}

